<h1>Orders</h1>
<br/>
<% @orders.each do |order| %>
  <% if !(order.carts == [] || order.carts == nil) %>
  <div class="well">
    <div class="row">
      <div class="col-xs-4">
        <h4><%= link_to get_name(order), order%></small></h4>
      </div>
      <div class="col-xs-4">
        <h4><%= get_order_status_name(order) %></h4>
      </div>
      <div class="col-xs-4 text-right">
         <% if ((get_order_status_name(order) == "New") && (current_user.user_type == "Client")) %>
            <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%>
         <% end%>
      </div>
    <% else
          delete_order(order)
       end %>
    </div>
  </div>
<%end%>
