<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% @carts.each do |cart| %>
      <%= render "/orders/item_row", item: Item.find(cart.item_id), cart: cart, order: @order %>
    <% end %>
  </div>
</div>
<%= link_to 'Back', root_path, class:"btn btn-primary col-centered"%>